Flask
jinja2
pymongo
Flask-Caching
#PyMySQL==0.9.3
PyMySQL
flask-sitemap
Flask-BasicAuth
flasgger
requests
virtualenv
MarkupSafe
Werkzeug
itsdangerous
cryptography
py-youtube
python-dateutil
flask-talisman
Flask-Breadcrumbs
flask_mail
Flask-WTF
email_validator
waitress
pandas