Flask==1.1.1
jinja2==2.10.3
pymongo
Flask-Caching
#PyMySQL==0.9.3
PyMySQL
flask-sitemap
Flask-BasicAuth
flasgger
requests
Flask-SQLAlchemy==2.4.1
SQLAlchemy==1.3.10
virtualenv==16.7.7
MarkupSafe==1.1.1
Werkzeug==0.16.0
itsdangerous==1.1.0
cryptography
py-youtube
python-dateutil
flask-talisman
Flask-Breadcrumbs
flask_mail